* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: fit-content;
  height: fit-content;
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(28, 27, 27);
}

@font-face {
  font-family: 'BufallyScript';
  src: url('assets/Typefaces/Bufally.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}